<section class="content-header">
    <h1>
            Bank Details
          </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.settings-banks">Banks</a></li>
        <li class="active">Bank New Entry</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <form role="form" name="bankForm" ng-submit="saveBank()">
            <div class="col-md-9">
                <div class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">General Info</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group" ng-class="{'has-error':!bankForm.bankname.$error.required && (bankForm.bankname.$error.minlength || bankForm.bankname.$error.maxlength) }">
                            <label><i ng-class="{'fa fa-times': !bankForm.bankname.$error.required && (bankForm.bankname.$error.minlength || bankForm.bankname.$error.maxlength)  }"></i> Bank Name</label>
                            <input type="text" class="form-control" name="bankname" ng-model="details.name" ng-minlength="3" ng-maxlength="50" placeholder="Bank Name" required ng-blur="checkIfBankExist()"/>
                            <p ng-show="bankForm.bankname.$error.minlength" class="help-block">Bank Name is too short.</p>
                            <p ng-show="bankForm.bankname.$error.maxlength" class="help-block">Bank Name is too long.</p>
                            <p style="color: #a94442;" ng-show="_bankExist" class="help-block">Bank Name exist</p>
                            

                        </div>
                        <div class="form-group">
                            <label>Bank Address</label>
                            <textarea class="form-control" rows="3" ng-model="details.address" placeholder="Bank Address" required /></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tags <i class="fa fa-tags"></i></label>
                            <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" on-remove="deleteProductTags($item)" multiple tagging="tagTransform" tagging-label="Enter Tag" ng-model="details.tags" theme="bootstrap" close-on-select="false">
                                <ui-select-match placeholder="Enter Tags...">{{$item.tags}}</ui-select-match>
                                <ui-select-choices repeat="tag in tagsArr | propsFilter: {tags: $select.search}">
                                    <div ng-bind-html="tag.tags | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-warning">
                    <div class="box-body">
                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="bankForm.$invalid || _bankExist">Save Entry</button>
                        <button ng-click="$state.reload()" class="btn btn-default btn-block ">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->
