<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header">
                <div class="pull-left">
                    <form class="form-inline">
                        <button class="btn btn-flat btn-sm btn-primary" ng-click="saveMapping()">
                            <i class="fa fa-refresh"></i> Save Mapping
                        </button>
                        <button class="btn btn-flat btn-sm btn-success" ng-click="getAllAttributeMapValues()">
                            <i class="fa fa-refresh"></i> Refresh
                        </button>
                    </form>
                </div>
                <div class="pull-right box-tools">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="txtSearch2" ng-change="(txtSearch2.length < 1)?searchCustomer():0">
                                    <div class="input-group-btn">
                                        <button class="btn btn-flat btn-sm btn-default" ng-click="searchCustomer()" ng-keypress="($event.which === 13)?searchCustomer():0"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-striped footable" data-page-size="10" id="tblStore">
                    <thead>
                        <tr>
                            <th width="30" data-sort-ignore="true">
                                <input type="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
                            </th>
                            <th class="" data-sort-ignore="true">Customer Name</th>
                            <th class="" data-sort-ignore="true">Address</th>
                            <th class="" data-sort-ignore="true">Person Type</th>
                            <th class="" data-sort-ignore="true">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in customers">
                            <td>
                                <input type="checkbox" ng-model="customer.selected" ng-change="checkStoresChanges(customer)">
                            </td>
                            <td>
                                {{customer.firstname + customber.lastname}}
                            </td>
                            <td>
                                {{customer.address}}
                            </td>
                            <td>
                                <span class="label label-info">{{customer.person_type}}</span>
                            </td>
                            <td>
                                <span class="label label-primary" ng-if="customer.isActiveAcnt == true">Active</span>
                            </td>
                            <td class="text-right">
                                <button ng-click="removeFromMapping($index)" class="btn btn-danger btn-xs btn-flat"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="6" align="center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
