<div class="brColor br-left box-warning">
    <div class="prod box-header" style="padding: 15px 20px 10px;">
        <h3 class="box-title">All Applications</h3>
        <button class="actbuttonassets fr" uib-tooltip="Refresh" ng-click="refresh()"><i class="zmdi zmdi-refresh-alt"></i></button>
        <div class="">
            <div class="form-inline w100p disp-inline-flex ">
                <div class=" btn-group mailbox-controls">
                    <form class="form-inline">
                        <div class="form-group">
                            <div style="padding-top: 6px;">
                                <button class="btn btn-success btn-block">Add a New App</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pull-right searchposition b">
                    <form class="form-inline">
                        <div class="form-group">
                            <div style="padding-top: 6px;">
                                <div class="input-group imput">
                                    <input type="text" name="q" class="form-control  input-sm" placeholder="Search" ng-model="txtSearch" ng-change="(txtSearch.length < 1)?searchData():0" ng-keypress="($event.which === 13)?searchData():0" angular-ripple>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body padding">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-info" style="height: 152px;">
                    <div class="box-header p-10 with-border">
                        <h4 class="box-title">Sample App 1</h4>
                        <div class="box-tools pull-right">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-box-tool dropdown-toggle p-0" uib-dropdown-toggle><i class="zmdi zmdi-more-vert" style="font-size: 17px;"></i></button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a href="">Rename</a></li>
                                    <li><a href="">Delete</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Usage & Limits</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-gray"><i class="zmdi zmdi-devices"></i></span>
                        <div class="info-box-content">
                            <div style="padding-left: 90px;">
                                <span class="" style="font-weight: 500">App ID:</span>
                                <small class="" style="text-overflow: inherit;">feecce46-653d-11e7-9e74-38c98652deba</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-info" style="height: 152px;">
                    <div class="box-header p-10 with-border">
                        <h4 class="box-title">Sample App 1</h4>
                        <div class="box-tools pull-right">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-box-tool dropdown-toggle p-0" uib-dropdown-toggle><i class="zmdi zmdi-more-vert" style="font-size: 17px;"></i></button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a href="">Rename</a></li>
                                    <li><a href="">Delete</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Usage & Limits</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-gray"><i class="zmdi zmdi-devices"></i></span>
                        <div class="info-box-content">
                            <div style="padding-left: 90px;">
                                <span class="" style="font-weight: 500">App ID:</span>
                                <small class="" style="text-overflow: inherit;">feecce46-653d-11e7-9e74-38c98652deba</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-info" style="height: 152px;">
                    <div class="box-header p-10 with-border">
                        <h4 class="box-title">Sample App 1</h4>
                        <div class="box-tools pull-right">
                            <div class="btn-group" uib-dropdown>
                                <button class="btn btn-box-tool dropdown-toggle p-0" uib-dropdown-toggle><i class="zmdi zmdi-more-vert" style="font-size: 17px;"></i></button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a href="">Rename</a></li>
                                    <li><a href="">Delete</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Usage & Limits</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-gray"><i class="zmdi zmdi-devices"></i></span>
                        <div class="info-box-content">
                            <div style="padding-left: 90px;">
                                <span class="" style="font-weight: 500">App ID:</span>
                                <small class="" style="text-overflow: inherit;">feecce46-653d-11e7-9e74-38c98652deba</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
