<div class="brColor br-left box-warning" ng-controller="appSettingsLogController">
    <div class="box-header">
        <h3 class="box-title">Application Logs</h3>
        <button class="actbuttonassets fr" uib-tooltip="Refresh" ng-click="refresh()"><i class="zmdi zmdi-refresh-alt"></i></button>
        <br>
        <div class="">
            <div class="form-inline w100p disp-inline-flex ">
                <div class=" btn-group mt-10">
                    <!-- <button ng-click="searchData()" class="btnflat  waves-effect fl mr-10 " angular-ripple>Refresh</button> -->
                    <form class="form-inline datepickarz">
                        <div class="form-group">
                            <div class="input-group">
                                <label>Filter by Date:</label>
                                <input type="text" ng-model="details.start_date" data-date-format="MMMM dd, yyyy" data-max-date="{{details.end_date}}" bs-datepicker style="width: 300px;">
                                <span class="barzz"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pull-right searchposition b">
                    <form class="form-inline">
                        <div class="form-group">
                            <div >
                                <div class="input-group imput">
                                    <input type="text" name="q" class="form-control  input-sm" placeholder="Search" ng-model="txtSearchUser.text" angular-ripple>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body table-responsive p-0 padding">
        <table class="table table-hover" ng-table="usersTable">
            <tr ng-repeat="row in $data  track by $index">
                <td class="text-center" data-title="'Name'">
                    <a ui-sref="main.settings-app-log({ 'userId': row.uc_id })">{{row.EmpName}}</a>
                </td>
                <td class="text-center" data-title="'Username'">
                    {{row.username}}
                </td>
                <td class="text-center" data-title="'Account Validity'">
                    {{row.valid_until | amDateFormat:'MM/DD/YYYY'}}
                </td>
                <td class="text-right" data-title="''">
                    <div class="disp-inline-flex">
                        <a uib-tooltip="View Userlogs" tooltip-placement="left" ng-click="viewUserLogs(row.uc_id)" class="btn ml-10 bgscreen actbutton btn-info btn-xs btn-flat" angular-ripple><i class="zmdi zmdi-eye"></i></a>
                    </div>
                    <!-- <a class="btn btn-flat btn-info btn-xs" uib-tooltip="View Userlogs" ng-click="viewUserLogs(row.uc_id)"><span class="glyphicon glyphicon-search"></span></a> -->
                </td>
            </tr>
        </table>
    </div>
</div>
