<div class="row">
    <form role="form" ng-submit="savePricebook()">
        <!-- <div class="col-md-1"> 
        </div> -->
        <div class="col-md-12 pr-30">
            <div class="" style="padding: 20px 0 50px 0;">
                <div class="form-group col-sm-12" ng-class="{'has-error':uniquePricebookName}" style="padding: 0;">
                    <label class="col-sm-2 control-label">Pricebook Name:</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="details.name" name="required" class="form-control" ng-blur="validatePricebookName(details.name)" placeholder="Name" required />
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <text-angular ng-model="details.description" style="display: inline-block;margin-bottom: 25px;"></text-angular>
                    </div>
                </div>
                <div class="form-group col-sm-12" ng-class="{'has-error':uniquePricebookType}" style="padding: 0;">
                    <label class="col-sm-2 control-label">PriceBook Type:</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="details.pricebook_type_id" ng-options="option.pt_id as option.name for option in pricebooktype" required>
                            <option value="">Choose PriceBook Type</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="padding: 0;">
                    <label class="col-sm-2 control-label">Date From:</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                         <!-- <input type="text" class="form-control" ng-model="details.valid_from" data-date-format="MM-dd-yyyy"  bs-datepicker /> -->
                            <input type="text" class="form-control" ng-model="details.valid_from" data-date-format="MM-dd-yyyy" data-max-date="{{details.valid_until}}" bs-datepicker autoClose="true"/>
                            <div class="input-group-addon">
                                <img src="./images/icon/calendar-today.svg" style="width: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12" style="padding: 0;">
                    <label class="col-sm-2 control-label">Date To:</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" class="form-control" data-date-format="MM-dd-yyyy" ng-model="details.valid_until" data-min-date="{{details.valid_from}}" bs-datepicker autoClose="true"/>
                            <div class="input-group-addon">
                                <img src="./images/icon/calendar.svg" style="width: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12" style="padding: 0;">
                    <label class="col-sm-2 control-label">Apply To:</label>
                    <div class="col-sm-10">
                        <div class="box">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="control-label">Customer Groups:</label>
                                    <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" multiple tagging="tagTransform" tagging-label="Enter Customer Groups..." ng-model="details.customergroups" theme="bootstrap" close-on-select="false">
                                        <ui-select-match placeholder="Enter Customer Groups...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="group in customergroups | filter: name: $select.search | limitTo: infiniteScrollContacts.currentItems">
                                            <div ng-bind-html="group.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Customers / Company:</label>
                                    <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" multiple tagging="tagTransform" tagging-label="Enter Customers / Company" ng-model="details.customers" theme="bootstrap" close-on-select="false">
                                        <ui-select-match placeholder="Enter Customers / Company ...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="row in customersData | filter: {name: $select.search} | limitTo: infiniteScrollContacts.currentItems">
                                            <div ng-bind-html="row.name | highlight: $select.search"></div>
                                            <small>{{row.type}}</small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Stores:</label>
                                    <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" multiple tagging="tagTransform" tagging-label="Enter Stores" ng-model="details.stores" theme="bootstrap" close-on-select="false">
                                        <ui-select-match placeholder="Enter Stores ...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices infinite-scroll="addMoreItems()" infinite-scroll-distance="2" repeat="row in storesArr | propsFilter: {name: $select.search} | limitTo: infiniteScrollContacts.currentItems">
                                            <div ng-bind-html="row.name | highlight: $select.search"></div>
                                            <small>{{row.address}}</small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12" style="padding:0;">
                    <label class="col-sm-2 control-label">Publish</label>
                    <div class="col-sm-10">
                        <input id="check_facebook" bs-switch ng-model="details.published" switch-active="true" type="checkbox">
                    </div>
                </div>
                <div class="form-group col-md-12" style="padding: 0;">
                    <label class="col-sm-2 control-label">Tags</label>
                    <div class="col-sm-10">
                        <ui-select class="form-control" reset-search-input="true" on-select="clearInput($select)" on-remove="deleteProductTags($item)" multiple tagging="tagTransform" tagging-label="Enter Tag" ng-model="details.tags" theme="bootstrap" close-on-select="false">
                            <ui-select-match placeholder="Enter Tags...">{{$item.tags}}</ui-select-match>
                            <ui-select-choices repeat="tag in tagsArr | propsFilter: {tags: $select.search}">
                                <div ng-bind-html="tag.tags | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="" style="margin-top: 10px;">
                <div class="box-body">
                    <button type="submit" ng-disabled="quoteInfoForm.$invalid" class=" btn btn-primary  btn-flat waves-effect" style="width: 100%;margin-bottom: 5px;">Save Entry</button>
                    <a class="btn btn-success  btn-flat waves-effect" ng-show="showPublish" ng-click="publishProduct(details.p_id)" style="width: 100%;margin-bottom: 5px;">Publish</a>
                    <a class="btn btn-default  btn-flat waves-effect" ng-click="goBack()" style="width: 100%;">Cancel</a>
                </div>
            </div>
        </div> -->
        <div class="box-body disp-inline-flex  pr-45 pb-20 fr">
            <a ng-click="goBack()" class="btnflat default-color waves-effect fr" angular-ripple>Cancel</a>
            <!-- <button ng-click="archiveProduct(details.p_id)" class="btnflat danger-color waves-effect ml-10 fr" angular-ripple>Archive</button> -->
            <button ng-show="showPublish" ng-click="publishProduct(details.p_id)" class="btnflat success-color waves-effect ml-10 fr" angular-ripple>Publish</button>
            <button type="submit" ng-disabled="quoteInfoForm.$invalid" class="btnflat primary-color waves-effect ml-10 fr" angular-ripple>Save Entry</button>
        </div>
    </form>
</div>
