<div class="row" ng-controller="customerController">
    <script type="text/ng-template" id="checkboxheader.html">
        <input type="checkbox" class="checkbox" ng-model="selectDeselectAll" ng-change="changeSelectDeselectAll()">
    </script>
    <div class="col-xs-12">
        <div class="">
            <div class="box-header" style="padding: 8px 15px;">
                <div class="pull-left">
                    <form class="form-inline p-5 pl-10 ng-pristine ng-valid">
                        <button class="btn btn-primary actbutton btn-xs btn-flat mr-10" ui-sref="main.settings-humanresource-detail" uib-tooltip="Add New" angular-ripple>
                            <img src="./images/icon/ic_add_white_24px.svg">
                        </button>
                        <button class="btn btn-danger actbutton btn-xs btn-flat mr-10" ng-click="deleteSelected()" ng-disabled="!deleteSomeData" angular-ripple>
                            <img src="./images/icon/ic_delete_black_24px.svg">
                        </button>
                        <button ng-click="refresh()" class="btn btn-default actbutton btn-xs btn-flat mr-10" uib-tooltip="Refresh" angular-ripple>
                            <img src="./images/icon/refresh.svg">
                        </button>
                        <button ng-json-export-excel data="persons" report-fields="reportFields" filename="'export-excel-customer'" separator="," class="btn btn-default actbutton btn-xs btn-flat mr-10" uib-tooltip="Export" angular-ripple>
                            <img src="./images/icon/file-excel.svg">
                        </button>
                        <a ui-sref="main.export-customers" class="btn btn-default actbutton btn-xs btn-flat mr-10" uib-tooltip="Download as PDF" angular-ripple>
                            <img src="./images/icon/file-pdf.svg">
                        </a>
                    </form>
                </div>
                <div class="pull-right">
                    <form class="form-inline p-5 pl-10 ng-pristine ng-valid">
                        <button class="actbuttonassets" ui-sref="main.settings-customergroup" tooltip-placement="left" uib-tooltip="Customer Groups"><img src="./images/icon/ic_list_black_24px (1).svg"></button>
                    </form>
                </div>
            </div>
            <div class="box-header form-inline w100p disp-inline-flex company " style="padding: 8px 15px;">
                <div class=" btn-group mailbox-controls sdropdisp ">
                    <form class=" datepickar">
                        <div class="form-group">
                            <div class="input-group">
                                <label>Filter by Application Status:</label>
                                <button class="dropdown-toggle" data-toggle="dropdown">
                                    {{applicationStatus}}
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <span class="barzz"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="updateStatus('All')">All</a>
                                    </li>
                                    <li><a ng-click="updateStatus('Employee')">Employee</a>
                                    </li>
                                    <li><a ng-click="updateStatus('Customer')">Customer</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pull-right searchposition">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group imput">
                                <input type="text" class="form-control input-sm" placeholder="Search" ng-model="txtSearch.text">
                                <!-- <div class="input-group-btn">
                                    <button class="btn btn-flat btn-sm btn-default" ng-click="searchData()" ng-keypress="($event.which === 13)?searchData():0"><i class="fa fa-search"></i></button>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body table-responsive p-0 padding">
                <table class="table table-hover" ng-table="personsTable">
                    <tr ng-repeat="person in $data  track by $index">
                        <td data-header="'checkboxheader.html'" class="text-center center-td-table">
                            <input type="checkbox" class="checkbox" ng-model="person.selected" ng-change="checkDataChanges(person)">
                        </td>
                        <td class="text-center" data-title="'Image'">
                            <img class="img-thumbnail" ng-src="{{person.image}}" err-src="./images/avatar.png" style="width:40px;height:40px;" />
                        </td>
                        <td class="text-center" data-title="'Name'">
                            {{person.lastname +','+ person.firstname}}
                        </td>
                        <td class="text-center" data-title="'Address '">
                            {{person.address}}
                        </td>
                        <td class="text-center" data-title="'Person Type'">
                            <span ng-if="person.per_type_id == '1' && person.isSubscriber == '0'" class="label label-success">Employee</span>
                            <span ng-if="person.per_type_id == '2' && person.isSubscriber == '0'" class="label label-info">Customer</span>
                            <span ng-if="person.isSubscriber == '1'" class="label label-warning">Owner</span>
                        </td>
                        <td class="text-center" data-title="'Status'">
                            <span class="label label-primary" ng-if="person.isActiveAcnt == true">Active</span>
                            <span class="label label-default" ng-if="person.isActiveAcnt != true">In Active</span>
                        </td>
                        <td class="text-right">
                            <div class="disp-inline-flex">
                                <button ui-sref="main.settings-humanresource-detail({person_id: person.person_id})" class="btn btn-info actbutton btn-xs btn-flat" angular-ripple><img src="./images/icon/ic_mode_edit_white_18px.svg"></button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="overlay" ng-show="personisLoading">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
    </div>
</div>
