<section class="content-header">
    <h1>User Group Privileges</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="main.settings-useraccounts">User Accounts and Privileges</a></li>
        <li class="active">User Group Privileges</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Access Control for: <b>{{usergroup.name}}</b></h3>
                </div>
                <div class="box-header">
                    <div class="pull-left disp-inline-flex">
                        <button ng-click="UpdatePermission()" class="btnflat primary-color waves-effect ml-10 fr" angular-ripple="">Update Permission</button>
                        <button ng-click="resetPermission()" class="btnflat warning-color waves-effect ml-10 fr" angular-ripple="">Reset</button>
                        <button ng-click="reloadData()" class="btnflat  waves-effect ml-10 fr" angular-ripple="">Refresh</button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Description</th>
                                <th width="30">
                                    READ
                                </th>
                                <th width="30">
                                    WRITE
                                </th>
                                <th width="30">
                                    DELETE
                                </th>
                                <th width="30">
                                    PRINT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in permissions" ng-repeat-end-watch="myFunction">
                                <td class="text-center center-td">{{row.name}}</td>
                                <td>{{row.item_name}}</td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultRead" ng-checked="IntToBoolean(row.DefaultRead)" ng-disabled="row.DefaultReadDisable">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultWrite" ng-checked="IntToBoolean(row.DefaultWrite)" ng-disabled="row.DefaultWriteDisable">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultDelete" ng-checked="IntToBoolean(row.DefaultDelete)" ng-disabled="row.DefaultDeleteDisable">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="row.DefaultPrint" ng-checked="IntToBoolean(row.DefaultPrint)" ng-disabled="row.DefaultPrintDisable">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
